#defaultButton.button{
    -fx-border-radius: 7.5;
    -fx-cursor: hand;
}

#defaultButton.button:hover {
    -fx-opacity: 85%;
}

#slider.button{
    -fx-cursor: hand;
}

#slider.button:hover {
    -fx-translate-x: 6;
}

#default{
    -fx-cursor: hand;
}

#default:hover {
    -fx-translate-y: -5;
}

#mapButton{
    -fx-cursor: hand;
    -fx-opacity: 75%;
}

#mapButton:hover{
    -fx-opacity: 90%;
}